blog-grid div {
	position: relative;
	scroll: overflow;

	h4, p {
		padding: 5px;
	}
}

.blog-card{

	position: relative;
	scroll: overflow;
	height: 200px;
	padding: 20px 5px 20px 5px;

	h4 {
		padding-bottom: 20px;
	}
	.expand {
		position: absolute;

		bottom: 0px;
		right: 0px;
		
		height: 5px;
		width: 5px;
		background-color: blue;	

		i {
			display: inline;
			scroll: overflow;
		}
			

	}
}

.icon:hover {
	transition-duration: 3s;
	transform: rotate(1turn);

}

.icon {
	transition-duration: 3s;
	transform: rotate(-1turn);
}
