@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700|Poppins:400,700,900');

.wrapper {

font-family: 'Poppins', sans-serif;

}

h1 {
	margin-left: 60px;
	font-size: 40px;
	letter-spacing: .5rem;
	word-spacing: 2rem;

}

b {
	font-weight: bold;
	font-size: 80px;
}

h4 {
	font-size: 20px;
	font-weight: bold;
}